/* Navigation bar */

.navbar-custom
{
    background-color: #f7e371 !important;
}

.nav-item:hover
{
    background-color: #f7c171;
}

.navbar-brand
{
    margin-right: 60px;
}

/* Footer */

#footerRow
{
    margin-top: 50px;
}
