/* Global values */
$color-nav: #f7e371;
$color-navHover: #f7c171;
$color-bg: #efe9c9;
$color-button: #e8a137;
$color-button-hover: #e88936;

/* Navigation bar */

#navigationRow
{
    margin-bottom: 25px;
}

.navbar-custom
{
    background-color: $color-nav !important;
}

.nav-item:hover
{
    background-color: $color-navHover;
}

.navbar-brand
{
    margin-right: 60px;
}

/* Homepage - Jumbotrons */
.jumbotron
{
    background-color: $color-bg;
}

/* Titles */
h1
{

}


/* Footer */

#footerRow
{
    margin-top: 50px;
}

#footerRow a
{
    color: $color-button;
}

#footerRow a:hover
{
    color: $color-button-hover;
}

/* Thumbnail galleries */

.thumbnail
{
    margin-top: 25px;
}

.thumbnailImage
{
    width: 241px;
    height: 200px;
}

/* FAQ */

.faq
{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Bios */

.media-object
{
    width: 175px;
    height: 200px;
}

/* Buttons */
[role=button]
{
    background-color: $color-button;
    border-color: $color-button;
}

[role=button]:hover
{
    background-color: $color-button-hover;
    border-color: $color-button-hover;
}

/* Call to action */
#callToAction
{
    margin-top: 25px;
}

#letsRoll
{
    color: $color-button;
}

#letsRoll:hover
{
    color: $color-button-hover;
}