/* Global values */
$color-nav: #f7e371;
$color-navHover: #f7c171;

$color-bg: #efe9c9;

/* Navigation bar */

#navigationRow
{
    margin-bottom: 25px;
}

.navbar-custom
{
    background-color: $color-nav !important;
}

.nav-item:hover
{
    background-color: $color-navHover;
}

.navbar-brand
{
    margin-right: 60px;
}

/* Homepage - Jumbotrons */
.jumbotron
{
    background-color: $color-bg;
}


/* Footer */

#footerRow
{
    margin-top: 50px;
}

/* Thumbnail galleries */

.thumbnail
{
    margin-top: 50px;
}

.thumbnailImage
{
    width: 241px;
    height: 200px;
}

/* Bios */

.media-object
{
    width: 175px;
    height: 200px;
}